.header {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url('../img/bg.jpg'),
                      url('../img/bg-grad.png');
    background-repeat: no-repeat, repeat;
    background-size: contain, contain;
  } 

  @media(min-width: 500px) {
    .header {
      height: 1000px;
    }
  }
  
  @media(min-width: $tablet) {
    .header {
      width: 50%;
      height: 790px;
     
    }
  }
  
  // .header__bg {
  //   width: 100%;
  //   height: auto;
  // }
  