
.modal {
    position: absolute;
    bottom: 20%;
    right: 10%;
    width: 190px;
    z-index: 2;
    box-shadow: 
      3px 3px 7px 2px #EEEEEE,
      -1px -1px 7px 2px #EEEEEE;
    font-size: 12px;
    color:  #96A5B1;
    background-color: #FFFFFF;
  }
  
  @media(min-width: 500px) {
    .modal {
      bottom: 17%;
      right: 30%;
    }
  }
  
  @media(min-width: $desktop) {
    .modal {
      bottom: 27%;
      right: 30%;
      width: 230px;
    }
  }
  
  .modal__description {
    margin: 0;
    padding: 10px 8px;
  }